# Ignore node_modules
node_modules/

# Ignore build files
dist/
.next/
out/
build/

# Ignore environment variables
.env
.env.local

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore editor settings
.vscode/
.DS_Store
